@tailwind base;
@tailwind components;
@tailwind utilities;

// Variables SCSS
$mobile-width: 768px;
$primary-color: #ff0000;

// Mixins SCSS
@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}